.loginTopIcon
    width: 100%
    height: 150px
    float: left
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
.loginBigIcon
    width: 150px
    height: auto
    float: left
    img
        width: 100%
        height: auto
        float: left
        max-width: 100%
.loginContentBox
    width: 100%
    max-width: 680px
    height: auto
    float: left
    padding: 50px
    padding-bottom: 60px
    background-color: rgba( 255,255,255,.6 )
    box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
    margin-top: 30px
    border-radius: 20px
.User_account,.User_password
    width: 100%
    height: 50px
    float: left
    position: relative
.User_password
    margin-top: 20px
.User_account::after,.User_password::after
    content: url(/src/assets/img/user-solid.svg)
    width: 50px
    height: 50px
    float: left
    background-color: #fff
    box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
    border-radius: 50%
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    position: absolute
    z-index: 2
    left: 0px
.User_password::after
    content: url(src/assets/img/lock-solid.svg)
.User_accountInput
    width: calc( 100% - 20px )
    height: 50px
    float: left
    margin-left: 20px
    box-shadow: 0px 3px 10px 0px rgba( 0,0,0,.16 )
    border-radius: 5px
    background-color: rgba( 255,255,255,.5 )
    font-size: 16px
    color: #999999
    padding-left: 50px
.login_confirm_input
    width: 100%
    height: 25px
    float: left
    margin-top: 10px
    position: relative
.login_confirm_input > label
    padding: 0
    margin-right: 20px
    cursor: pointer
    float: left
.login_confirm_input > label > input[type=checkbox]
    display: none
.login_confirm_input > label > input[type=checkbox]+span
    display: inline-block
    padding-left: 42px
    line-height: 38px
    background: url(src/assets/img/confirm_no.svg) no-repeat
    user-select: none
    font-size: 18px
    font-weight: bold
    color: #555555
.login_confirm_input > label > input[type=checkbox]:checked+span
    background: url(src/assets/img/confirm_sure.svg) no-repeat
.ForgotPassword
    width: auto
    height: 38px
    font-size: 18px
    line-height: 38px
    font-weight: bold
    color: #943737
    float: left
    a
        color: #943737
.buttemBox
    width: 100%
    height: 50px
    float: left
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    margin-top: 40px
.loginButtem
    width: 142px
    height: 50px
    float: left
    margin: 0px 5px
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    background-image: url(/src/assets/img/loginButtemBg.png)
    background-repeat: no-repeat
    background-size: cover
    font-size: 24px
    line-height: 50px
    color: #fff
    font-weight: bold
    letter-spacing: 1px
    cursor: pointer
.pageButtem
    width: 142px
    height: 50px
    float: left
    margin: 0px 5px
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    background-image: url(/src/assets/img/loginButtemBg.png)
    background-repeat: no-repeat
    background-size: cover
    font-size: 24px
    line-height: 50px
    color: #fff
    font-weight: bold
    letter-spacing: 1px
    cursor: pointer
.ThirdParty
    width: 100%
    height: auto
    float: left
    margin-top: 30px
    display: inline-flex
    justify-content: center
    flex-wrap: wrap
.ThirdPartyTitle
    width: 100%
    height: auto
    float: left
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
.ThirdPartyTitleLine
    width: 60px
    height: 1px
    float: left
    background-color: #666
.ThirdPartyTitleText
    width: auto
    height: auto
    float: left
    padding: 0px 25px
    font-size: 18px
    font-weight: bold
    letter-spacing: 1px
    line-height: 24px
.ThirdPartyButtemBar
    width: 418px
    height: 110px
    float: left
    display: inline-flex
    justify-content: space-between
    align-content: center
    align-items: center
    margin-top: 12px
.ThirdPartyButtemItem
    width: calc( 100% / 4 - 15px  )
    height: 110px
    float: left
    display: inline-flex
    justify-content: center
    align-content: space-between
    align-items: center
    flex-wrap: wrap
.ThirdPartyButtemIcon
    width: 80px
    height: 80px
    float: left
    background-color: #fff
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    border-radius: 50%
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16) 
    img
        width: 50%
        height: auto
        max-width: 50%
        float: left
.ThirdPartyButtemText
    width: 100%
    height: auto
    float: left
    font-size: 18px
    color: #555555
    letter-spacing: 0.5px
    font-weight: 600
    text-align: center
.signup_User_account
    width: 100%
    height: 50px
    float: left
    position: relative
.signup_User_account::after
    content: url(src/assets/img/emailalt.svg)
    width: 50px
    height: 50px
    float: left
    background-color: #fff
    box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
    border-radius: 50%
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    position: absolute
    z-index: 2
    left: 0px
.signup_User_err
    width: auto
    height: auto
    float: right
    font-size: 13px
    color: #eb0000
    text-align: right
    margin-top: 10px
.signup_User_sett
    width: auto
    height: auto
    float: right
    font-size: 13px
    color: #398aa3
    text-align: right
    margin-top: 10px
.signup_User_accountInput
    width: calc( 100% - 20px )
    height: 50px
    float: left
    margin-left: 20px
    box-shadow: 0px 3px 10px 0px rgba( 0,0,0,.16 )
    border-radius: 5px
    background-color: rgba( 255,255,255,.5 )
    font-size: 16px
    color: #999999
    padding-left: 50px
.VerificationCodeBar
    width: 100%
    height: auto
    float: left
    margin-top: 20px
.VerifCodeTitle
    width: 100%
    height: auto
    float: left
    font-size: 18px
    font-weight: 900
    color: #10325B
    letter-spacing: 1px
.verificationCode
    margin-top: 10px
    width: 100%
    height: 50px
    float: left
    border-radius: 5px
    box-shadow: 0px 3px 10px 0px rgba( 0,0,0,.16 )
    display: inline-flex
    justify-content: space-between
    align-content: center
    align-items: center
.verificationCodeInput
    width: 74%
    height: 50px
    float: left
    font-size: 16px
    color: #999999
    padding-left: 20px
    background-color: rgba(255, 255, 255, 0.5)
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
.verificationCodeButtem
    width: 26%
    height: 50px
    float: left
    text-align: center
    color: #555555
    font-size: 18px
    font-weight: bold
    letter-spacing: 1px
    background-color: #DBDBDB
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
.Boxbarbuttem,.Boxbarbuttem2
    width: 100%
    height: auto
    float: left
    display: inline-flex
    justify-content: center
    align-content: center
    align-items: center
    margin-top: 48px
.Boxbarbuttem2
    margin-top: 20px
.ContentBoxTitle
    width: 100%
    height: auto
    float: left
    margin-bottom: 30px
    font-size: 30px
    font-weight: bold
    color: #006699
    text-align: center
.Inputset100
    width: 100%
    height: 50px
    float: left
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 16%)
    border-radius: 5px
    background-color: rgba(255, 255, 255, 0.5)
    font-size: 16px
    color: #999999
    padding-left: 20px
    margin-top: 10px
    margin-bottom: 20px
.page_confirm_input
    width: 100%
    height: 25px
    float: left
    margin-top: 10px
    position: relative
.page_confirm_input > label
    padding: 0
    margin-right: 0px
    cursor: pointer
    float: left
.page_confirm_input > label > input[type=checkbox]
    display: none
.page_confirm_input > label > input[type=checkbox]+span
    display: inline-block
    padding-left: 32px
    line-height: 28px
    background: url(src/assets/img/confirm_no.svg) no-repeat
    background-size: 30px
    user-select: none
    font-size: 16px
    font-weight: bold
    color: #555555
.page_confirm_input > label > input[type=checkbox]:checked+span
    background: url(src/assets/img/confirm_sure.svg) no-repeat
    background-size: 30px
.pagelabelText
    line-height: 28px
    font-size: 16px
    font-weight: bold
    color: #555555
    a
        color: #555555
    a:hover
        color: #006699
.Boxbarmessage
    width: 100%
    height: auto
    float: left
    margin-bottom: 20px
    font-size: 18px
    font-weight: 600
    color: #10325B
    margin-top: 20px
    line-height: 26px