//登入頁面
.Login
    .page_content
        flex-direction: column
        align-items: center
        align-content: center
        .loginTopIcon
            margin-bottom: 30px
        .loginContentBox
            width: 100%
            max-width: 680px
            background-color: rgba( 255,255,255,.6 )
            box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
            padding: 50px
            border-radius: 20px
            .ContentBoxTitle
                text-align: center
                font-size: 30px
                font-weight: bold
                color: #006699
                margin-bottom: 25px
            .error
                margin-bottom: 20px
                text-align: right
            .User_account
                position: relative
                input
                    display: block
                    width: 100%
                    padding: 15px 0 15px 50px
                    border-radius: 5px
                    background: transparent
                    box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
                    margin-bottom: 10px
                &::after
                    position: absolute
                    content: url(/src/assets/img/user-solid.svg)
                    width: 50px
                    height: 50px
                    background-color: #fff
                    box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                    border-radius: 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    top: 0
                    left: -10px
            .User_password
                position: relative
                input
                    width: 100%
                    padding: 15px 0 15px 50px
                    border-radius: 5px
                    background: transparent
                    box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
                    margin-bottom: 10px
                &::after
                    position: absolute
                    content: url(/src/assets/img/lock-solid.svg)
                    width: 50px
                    height: 50px
                    background-color: #fff
                    box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                    border-radius: 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    top: 0
                    left: -10px
            .login_confirm_input
                display: flex
                align-items: center
                flex-wrap: wrap
                margin-bottom: 40px
                label
                    span
                        margin-right: 16px
                        font-size: 18px
                        color: #555555
                        font-weight: bold
                    input[type=checkbox]
                        display: none
                    input[type=checkbox]+span
                        display: inline-block
                        padding-left: 42px
                        line-height: 38px
                        background: url(/src/assets/img/confirm_no.svg) no-repeat
                        user-select: none
                        font-size: 18px
                        font-weight: bold
                        color: #555555
                    input[type=checkbox]:checked+span
                        background: url(/src/assets/img/confirm_sure.svg) no-repeat
                .ForgotPassword
                    a
                        color: #943737
                        font-size: 18px
                        font-weight: bold
                .invalid-feedback
                    margin-left: auto
            .buttonBox
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 30px
                .buttonStyle
                    display: block
                    width: 140px
                    padding: 10px
                    font-size: 24px
                    color: #fff
                    font-weight: bold
                    border-radius: 5px
                    &.pageButton
                        margin-right: 45px
                        background: linear-gradient(#0775AC 50%, #006699 50%)
                    &.loginButton
                        background: linear-gradient(#1A3F65 50%, #183354 50%)
            .ThirdParty
                .ThirdPartyTitle
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-bottom: 20px
                    .ThirdPartyTitleText
                        color: #555
                        font-weight: bold
                        margin: 0 20px
                    .ThirdPartyTitleLine
                        width: 60px
                        height: 1px
                        background-color: #666
                .ThirdPartyButtemBar
                    display: flex
                    align-items: center
                    justify-content: space-evenly
                    flex-wrap: wrap
                    .ThirdPartyButtemItem
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        cursor: pointer
                        gap: 5px
                    .ThirdPartyButtemIcon
                        display: flex
                        align-items: center
                        justify-content: center
                        width: 80px
                        height: 80px
                        background-color: #fff
                        border-radius: 50%
                        box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16)
        @media (max-width:768px) 
            .loginContentBox
                padding: 30px
        @media (max-width:576px)
            .loginContentBox
                padding: 30px
                .buttonBox
                    flex-direction: column-reverse
                    .buttonStyle
                        display: block
                        width: 140px
                        padding: 10px
                        font-size: 20px
                        color: #fff
                        font-weight: bold
                        border-radius: 5px
                        &.pageButton
                            margin-right: 0px
                            background: linear-gradient(#0775AC 50%, #006699 50%)
                        &.loginButton
                            margin-bottom: 20px
                            background: linear-gradient(#1A3F65 50%, #183354 50%)


//忘記密碼頁面
.ForgotPassword
    .page_content
        flex-direction: column
        align-items: center
        align-content: center
    .loginTopIcon
        margin-bottom: 30px
    .loginContentBox
        width: 100%
        max-width: 680px
        background-color: rgba( 255,255,255,.6 )
        box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
        padding: 50px
        border-radius: 20px
        .ContentBoxTitle
            text-align: center
            font-size: 30px
            font-weight: bold
            color: #006699
            margin-bottom: 25px
        .error
            margin-bottom: 20px
            text-align: right
        .signup_User_account
            position: relative
            input
                display: block
                width: 100%
                padding: 15px 0 15px 50px
                border-radius: 5px
                background: transparent
                box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
                margin-bottom: 10px
            &::after
                position: absolute
                content: url(/src/assets/img/emailalt.svg)
                width: 50px
                height: 50px
                background-color: #fff
                box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                top: 0
                left: -10px
        .Boxbarmessage
            color: #10325B
            font-size: 18px
            font-weight: bold
            margin-bottom: 100px
        .Boxbarbuttem2
            display: flex
            align-items: center
            justify-content: center
            .buttonStyle
                display: block
                width: 140px
                padding: 10px
                font-size: 24px
                color: #fff
                font-weight: bold
                border-radius: 5px
                background: linear-gradient(#1A3F65 50%, #183354 50%)
    @media (max-width:768px) 
        .loginContentBox
            padding: 30px
            .Boxbarbuttem2
                .buttonStyle
                    font-size: 20px
    @media (max-width:576px) 
        .loginContentBox
            .Boxbarmessage
                margin-bottom: 60px


.signUp
    .page_content
        flex-direction: column
        align-items: center
        align-content: center
        .loginTopIcon
            margin-bottom: 30px
        .loginContentBox
            width: 100%
            max-width: 680px
            background-color: rgba( 255,255,255,.6 )
            box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
            padding: 50px
            border-radius: 20px
            .ContentBoxTitle
                text-align: center
                font-size: 30px
                font-weight: bold
                color: #006699
                margin-bottom: 25px
            .invalid-feedback
                display: block
                text-align: right
            .signup_User_account
                position: relative
                input
                    display: block
                    width: 100%
                    padding: 15px 0 15px 50px
                    border-radius: 5px
                    background: transparent
                    box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
                    margin-bottom: 10px
                &::after
                    position: absolute
                    content: url(/src/assets/img/emailalt.svg)
                    width: 50px
                    height: 50px
                    background-color: #fff
                    box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                    border-radius: 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    top: 0
                    left: -10px
            .VerificationCodeBar
                width: 100%
                height: auto
                margin-top: 20px
                display: flex
                flex-direction: column
                margin-bottom: 80px
                .VerifCodeTitle
                    color: #10325B
                    font-weight: bold
                    font-size: 18px
                    margin-bottom: 10px
                .verificationCode
                    display: flex
                    input
                        width: 74%
                        font-size: 16px
                        color: #999999
                        padding: 15px
                        background-color: rgba(255, 255, 255, 0.5)
                        box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                        border-top-left-radius: 5px
                        border-bottom-left-radius: 5px
                .verificationCodeButtem
                    width: 26%
                    text-align: center
                    color: #555555
                    font-size: 18px
                    font-weight: bold
                    letter-spacing: 1px
                    background-color: #DBDBDB
                    border-top-right-radius: 5px
                    border-bottom-right-radius: 5px
                    box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                .invalid-feedback
                    align-self: flex-end
                    margin: 10px 0
            .Boxbarbutton
                display: flex
                align-items: center
                justify-content: center
                .buttonStyle
                    display: block
                    width: 140px
                    padding: 10px
                    font-size: 24px
                    color: #fff
                    font-weight: bold
                    border-radius: 5px
                    background: linear-gradient(#1A3F65 50%, #183354 50%)
        @media (max-width:768px) 
            .loginContentBox
                padding: 30px
        @media (max-width:576px) 
            .loginContentBox
                .VerificationCodeBar
                    .verificationCode
                        display: flex
                        input
                            width: 100%
                    .verificationCodeButtem
                        width: 50%
                .Boxbarbutton
                    .buttonStyle
                        font-size: 20px
        @media (max-width:414px) 
            .loginContentBox
                .VerificationCodeBar
                    .verificationCode
                        display: flex
                        flex-direction: column
                        input
                            display: block
                            width: 100%
                            padding: 15px 15px
                            border-radius: 5px
                            background: transparent
                            box-shadow: 0px 6px 18px 0px rgb(0 0 0 / 16%)
                            margin-bottom: 10px
                    .verificationCodeButtem
                        width: 100%
                        padding: 10px

.Register
    .page_content
        flex-direction: column
        align-items: center
        align-content: center
        .loginTopIcon
            margin-bottom: 30px
        .loginContentBox
            width: 100%
            max-width: 680px
            background-color: rgba( 255,255,255,.6 )
            box-shadow: 0px 6px 18px 0px rgba( 0,0,0,.16 )
            padding: 50px
            border-radius: 20px
            .ContentBoxTitle
                text-align: center
                font-size: 30px
                font-weight: bold
                color: #006699
                margin-bottom: 25px
            .PageTitle
                margin-bottom: 10px
            input[type=password]
                width: 100%
                height: 50px
                font-size: 16px
                color: #999999
                padding-left: 20px
                background-color: rgba(255, 255, 255, 0.5)
                box-shadow: 0px 3px 6px 0px rgba( 0,0,0,.16 )
                border-top-left-radius: 5px
                border-bottom-left-radius: 5px
                margin-bottom: 24px

            .page_confirm_input
                margin-bottom: 25px
                label
                    input[type=checkbox]
                        display: none
                    input[type=checkbox]+span
                        display: inline-block
                        padding-left: 32px
                        line-height: 28px
                        background: url(/src/assets/img/confirm_no.svg) no-repeat
                        background-size: 30px
                        user-select: none
                        font-size: 16px
                        font-weight: bold
                        color: #555555
                    input[type=checkbox]:checked+span
                        background: url(/src/assets/img/confirm_sure.svg) no-repeat
                        background-size: 30px
            .Boxbarbutton
                display: flex
                align-items: center
                justify-content: center
                .buttonStyle
                    display: block
                    width: 140px
                    padding: 10px
                    font-size: 24px
                    color: #fff
                    font-weight: bold
                    border-radius: 5px
                    background: linear-gradient(#1A3F65 50%, #183354 50%)
        @media (max-width:576px) 
            .loginContentBox
                .Boxbarbutton
                    .buttonStyle
                        font-size: 20px